@import url("https://fonts.googleapis.com/css?family=Aguafina Script");
@import url("https://fonts.googleapis.com/css?family=Tangerine");
h1 {
    margin-top: 20px;
    margin-bottom: 600px;
    margin-left: 0;
    margin-right: 0px;
    text-align: center;
    font-family: 'Tangerine', serif;
    
    font-size:150px;
    height: 100%;
    width: 100%;
    
}

#property-list {
    text-align: center;
    font-family: 'Tangerine', serif;
    font-size: 45px;
    
    text-shadow: 4px 4px 4px #aaa;
    font-weight: bold;

    background-image: url("/assets/images/home.jpg");
    background-size: cover;
    height: 100%;

}